.project-section{
  width: 100%;
    background: rgb(230, 230, 230);
   padding: 10rem 0px;
  
}
.project-heading{
  /* width: 100%; */
  margin-left: 10rem;
  text-align: left;
  

}
.project-heading h1{
  font-size: 2.5rem;
}
.project-heading span{
  color: #3e64ff;
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
  letter-spacing: 2.5px;
}
.project_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.image{
  position: relative;
  width: 100%;

}
.link{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  background-color: black;
  width: 60px;
  height: 60px;
  bottom: -15%;
  right: 5%;

}





.project {
  width: 25%; /* Base width for larger screens */
  /* border: 2px solid red; */
  color: gray;
  padding: 1.5rem;
  box-sizing: border-box; /* Ensures padding and borders are included in the width */
  /* height: 95vh; */
  padding-bottom: 5rem;
  
}
.project:hover{
  background-color: white;
}

.project img {
  width: 100%;
  height: 27vh;
  object-fit: cover;

}

.project p {
  color: gray;
  font-size: 17px;
  padding: 2rem 0px;
}

.line {
  position: relative;
  padding-left: 6rem;
  padding-top: 1rem;
}
h3{
  color: black;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.line::after {
  content: ' ';
  background-color: lightgray;
  width: 70px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 70%;
}
.project-icons{
  display: flex;
  gap: 1rem;
 align-items: center;
   margin-top: 2rem;

  cursor: pointer;
}
.project-icons a i{
  color: black;
  padding-right: 5px;
}
.project-icons a {
  color: black;
}
/* Media query for screen sizes smaller than 1200px */
@media (max-width: 1200px) {
  .project {
      width: 45%; /* Adjust width for medium screens */
  }
  .project-heading{
   
      margin-left: 5rem;
  
  
  }
}

/* Media query for screen sizes smaller than 768px */
@media (max-width: 768px) {
  .project {
      width: 90%; /* Full width for smaller screens */
  }
  .project-heading{
    margin-left: 10px;

}
}
