.mainskill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
}

.main-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0px 1rem;
}

.skill-heading span {
  color: #3e64ff;
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
  letter-spacing: 2.5px;
}

.skill-heading h1 {
  font-size: 2.5rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
  object-fit: contain;
}

.card h3 {
  color: black;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-align: left;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 720px) {
  .main-container {
    width: 100%;
  }

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .card {
    padding: 1.5rem;
  }

  .card h3 {
    font-size: 1rem;
  }
}

/* When the width is 550px or less, display one card per row */
@media (max-width: 550px) {
  .card-container {
    grid-template-columns: 1fr; /* This will make each card take up a full row */
  }
}
