.footer_section{
    background-color: #f6f6f9ec;
    color: rgb(7, 5, 5);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.talk{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main_section ul li {
   display: inline-block;
   margin-left: 2rem;
   text-align: center;
   font-size: 1.5rem;
}
.copyright{
    margin-top: 1rem;
}
@media(max-width:450px){
    .footer_section{
     
        width: 110%;
       
       
      
    }
}

