.hero{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.mask{
    opacity: .1;
    width: 50%;
    background: #3e64ff;
    height: 100vh;
    z-index: 1;
}
.hero .contant{
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 1;

}
.hero .contant h1{
    font-size: 4.5rem;
    line-height: 75px;
    text-transform: uppercase;
}
.hero .contant p{
    color: #3e64ff;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    letter-spacing: 2.5px;
}
.contant h2{
    white-space: nowrap;
    margin-top: 12px;
    font-size: 2rem;
    font-family: 'Outfit', sans-serif;
  width: fit-content;

}


.contant h2 span{
    font-size: 2rem;
   
}
.developerFrontend{
   color: #3e64ff;
}
/* Keyframes for typewriter animation */
@keyframes typewriter {
    from {
        width: 0%;
    }
    
}

.cv{
    padding: .8rem 1.2rem;
    background-color: black;
    color: white;
    border: none;
    border-radius:4px;
    outline: none;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    margin-top: 4rem;
}
.cv button{
    border: none;
    background-color: transparent;
    color: white;
    margin-top: 2rem;
}
.cv:hover{
    border: none;
    background-color:#3e64ff;
    color: white;
    margin-top: 2rem;
}

/* Apply typewriter animation to .developer span */
.hero .contant .developer h2{
    display: inline-block;
    overflow: hidden;
    margin-top: 12px;
    font-size: 2rem;
    font-family: 'Outfit', sans-serif;

  width: 100%;
    white-space: nowrap;
    padding-right: 1rem;
    /* border-right: 4px solid #3e64ff; */
    animation: typewriter 4s steps(40) infinite;
}
@media(max-width:650px){
    .hero .contant h1{
        font-size: 3rem;
        line-height: 50px;
        text-transform: uppercase;
        /* z-index: 100; */
    }
    .developer span{
        font-size: 1.8rem;
    }
    .developer{
        white-space: nowrap;
        margin-top: 12px;
        margin-left: 3rem;
        font-size: 1.6rem;
        font-family: 'Outfit', sans-serif;
    }

    .mask{
        opacity: .1;
        width: 60%;
        background: #3e64ff;
        height: 80vh;
    
    }
    .hero .contant{
        position: absolute;
        transform: translate(-50% , -50%);
        top: 35%;
        left: 50%;
        text-align: center;
        /* z-index: 5; */
    }
    .contant {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        text-align: center;
        /* z-index: 5 !important; Ensure this style is applied */
        margin-top: 3rem;
    }
    .contant p{
        margin-left: 3rem;
    }
    .contant h1{
        margin-left: 3rem;
    }
    .hero{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height:auto;
    }
    
}
@media(max-width:400px){
    .cv{
        margin-left: 3.5rem;
    }
}


@media(max-width:300px){
    .hero .contant .developer h2{
        display: inline-block;
        /* overflow: hidden; */
        flex-wrap: wrap;
 
        margin-top: 12px;
        font-size: 2rem;
        font-family: 'Outfit', sans-serif;
    
      width: 100%;
        /* white-space: nowrap; */
        padding-right: 1rem;
        /* border-right: 4px solid #3e64ff; */
        /* animation: typewriter 4s steps(40) infinite; */
    }
    .developer h2{
        margin-left: 3rem;
    }
    .cv{
        margin-left: 2rem;
    }
}

