.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  height: 8vh;
}
.header-bg{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    transition: 0.5s;
    background-color: white;
}
.logo{
    width: 25%;
    /* margin-left: -5rem; */
}
.nav-menu{
    display: flex;

}
.nav-menu li{
    padding: 0 1rem;
    list-style: none;
    cursor: pointer;

   
}
.nav-menu a{
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
.hamburger{
    display: none;
}
@media screen and (max-width: 840px) {
    .header{
        z-index: 10;
    }
    .header{
     height: 10vh;
    }
    .logo{
        width: 35%;
        /* margin-left: -5rem; */
    }
    .nav-menu{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
  background-color: white;
    position: absolute;
    top: 0;
    left: -100%;
    /* bottom: 0; */
    z-index: -3;
    transition: 0.3s;
    }
    .nav-menu.active {
        background-color: white; /* Set the background to white */
        left: 0;
        z-index: 20;
    }
    .nav-menu li{
        padding: 1rem 0;
    }
    .nav-menu li Link{
        font-size: 2rem;
        cursor: pointer;
    }
    .hamburger{
        display: initial;
        z-index: 30;
    }
}

@media(max-width:950px){
    .header{
        height: 5vh;
    }
}
@media(max-width:450px){
    .logo{
        width: 65%;
        margin-left: -4rem;
    }
    .header{
        height: 9vh;
    }
}