.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    /* padding: 1rem; */
  position: fixed;
  width: 100%;
  /* background-color: white; */
  z-index: 10;
  height: 10vh;

  top: 0;

 



}
.header-bg{
    transition: 0.5s;

    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px); 
}
.logo{
    width: 20%;
    height: 100%;
    object-fit: cover;

}
.nav-menu{
    display: flex;

}
.nav-menu li{
    padding: 0 1rem;
    list-style: none;
    cursor: pointer;

   
}
.nav-menu a{
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}
.hamburger{
    display: none;
}
@media screen and (max-width: 1040px) {
    .header{
    
        gap: 20rem;
    }
}
@media screen and (max-width: 840px) {
    .header{
        z-index: 10;
        height: 12vh;
       justify-content: space-around;
       align-items: center;

       gap: 15rem;
    }
   
    .logo{
        width: 35%;
        /* margin-left: -5rem; */
        
    }
    .nav-menu{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  width: 50%;
  height: 85vh;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    
   position: absolute;
   right: -70%;
   
    z-index: -3;
    transition: 0.3s;
    /* height: 10vh; */
    }
    .nav-menu.active {
       background-color: white;
       right:0;
       top:0;
        width: 70%;
        z-index: 20;
     
    }
    .nav-menu li{
        padding: 1rem 0;
    }
    .nav-menu li Link{
        font-size: 2rem;
        cursor: pointer;
    }
    .hamburger{
        display: block;
        padding-right: .8rem;
        z-index: 30;
    }
}

@media(max-width:950px){
    .header{
        height: 8vh;
    }
}
@media(max-width:450px){

    .logo{
        width: 65%;
        margin-left: -3rem;
    }
    .header{
        height: 12vh;
        width: 100%;
        gap: 5rem;
        
    }
    
}